extends layout

block content

    h1 #{title}

    form(method='POST' action='')

        div.form-group 
            label(for='book') Book :
            select#book.form-control(type='select' placeholder='Select book' required='true' name='book') 
                -book_list.sort(function(a,b){let textA= a.title.toUpperCase(); let textB=b.title.toUpperCase();return (textA<textB)?-1:(textA>textB)?1:0 ;})
                for book in book_list
                    if bookinstance
                        option(value=book._id selected=(book._id.toString()===bookinstance.book.toString())? true : false) #{book.title}
                    else
                        option(value=book._id) #{book.title}

        div.form-group 
            label(for='imprint') Imprint :
            input#imprint.form-control(type='text' placeholder='Publisher and date information' required='true' name='imprint' value=(undefined===bookinstance)? '':bookinstance.imprint)
        
        div.form-group 
            label(for='due_back') Date when book available :
            input#due_back.form-control(type='date' name='due_back' value=(undefined===bookinstance)? '':bookinstance.due_back)

        div.form-group 
            label(for='status') Status :
            select#status.form-control(type='select' placeholder='Select status' required='true' name='status')
                option(value='Maintenance') Maintenance
                option(value='Available') Available
                option(value='Loaned') Loaned
                option(value='Reserved') Reserved
    button.btn.btn-primary(type='submit') Submit

    if errors
        ul
            each error in erros
                li= error.msg